<p>The Writer Mortis Project is an experiment with Ruby on Rails and storytelling.</p>

<p>It's a web app for writing collaborative stories like an exquisite corpse -- users contribute to a story by only seeing the chunk contributed by the previous user.</p>

<p>You can view and fork the source code on <a href="https://github.com/jasonblanchard/writermortis" target="_blank">GitHub</a>.</p>
