<div class="muted rules">
    <div class='pull-left rules-header'>
        <h3>Rules</h3>
    </div>
    <p>Each contribution must be less than <%= @story.max_sentences %> sentences.</p>
    <p>The story will be finished when there are <%= @story.total_slices %> contributions.</p>
</div>
