<div class='span1 slices-left'>
    <span class='slices-left'><%= @story.slices_left %><br /></span>
more until the story is done.
</div>

<div class="last-story-slice span6 offset2">
    <h3><%= @story.title %></h3>
    <% if @story.slices.last %>
        <%= div_for @story.slices.last do |slice| %>
            <%= slice.body %>
        <% end %>
    <% else %>
        This story needs a beginning...
    <% end %>
</div>
