<div class='row-fluid'>

    <% cache("complete_story#{@story.id}-#{@story.updated_at.to_i}", :expires_in => 1.hour) do %>

        <div class='span9 complete-story'>
            <h3><%= @story.title %></h3>
            <%= render 'finished_story' %>
            <%= link_to "Create a New Story!", new_story_path, :class=> 'btn' %>
        </div>

        <div class="contributors span2 offset1">
            <div class='fixed-position'>
                <%= render 'contributors' %>
            </div>
        </div>
    <% end %>

</div>
