<div class='row-fluid'>

    <div class='span9'>
        <%= render 'finished_story' %>
        <%= link_to "Create a New Story!", new_story_path, :class=> 'btn' %>
    </div>

    <div class="contributors span2 offset1">
        <%= render 'contributors' %>
    </div>
</div>
