<%= form_for([@story, @story.slices.build]) do |f| %>
    <div>
        <%= f.label :body %>
    </div>
    <div>
        <%= f.text_area :body, :rows => 3, :class => 'span4' %>
    </div>
    <%= f.submit :class => 'btn' %>
<% end %>
