$light-margin-color: rgb(221, 221, 221);
$text-on-dark: rgb(218, 216, 216);

.title {

    h1 {
        display: block;
        text-align: center;
    }
}

.welcome-top-section {
    height: 380px;
    background: rgb(213, 217, 226);
    background-image: url('A_Galvanised_Corpse.jpg');
    background-repeat:no-repeat;
    background-size: 100%
}

@media (max-width: 1149px) {
    .welcome-top-section {
        background-size: auto;
    }
}

.welcome-top-section .info {
    background: rgba(0, 0, 0, 0.54);
    height: 100%;
    padding: 5px;
    color: $text-on-dark;
}

.test-right {
    text-align: right;
}

.frontpage-section {
    padding: 5px;
    text-align: center;
}

.new_slice {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

.slices-left {
    text-align: center;
}

span.slices-left {
    font-size: 3em;
    display: block;
    margin: 0 auto;
    width: 50%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.top-alerts {
    margin: 0 auto;
    margin-top: 5px;
    width: 30%
}

.insert-buttons {
    margin-top: 20px;
}
