$light-margin-color: rgb(221, 221, 221);
$text-on-dark: rgb(218, 216, 216);
$background: rgb(236, 236, 235);
$info-background: rgba(119, 1, 1, 0.72);

body {
    background: $background;
}

.title {

    h1 {
        display: block;
        text-align: center;
    }
}

.welcome-top-section {
    height: 380px;
    background: rgb(213, 217, 226);
    background-image: url('A_Galvanised_Corpse.jpg');
    background-repeat:no-repeat;
    background-size: 100%
}

@media (max-width: 1149px) {
    .welcome-top-section {
        background-size: auto;
    }
}

.welcome-top-section .info {
    background: $info-background;
    height: 100%;
    padding: 5px;
    color: $text-on-dark;
}

.test-right {
    text-align: right;
}

.frontpage-section {
    padding: 5px;
    text-align: center;
}

.new_slice {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

.slices-left {
    text-align: center;
}

.slice-count {
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

span.large {
    font-size: 3em;
    margin-right: 5px;
}

span.medium {
    font-size: 2em;
}

.top-alerts {
    margin: 0 auto;
    margin-top: 5px;
    width: 30%
}

.insert-buttons {
    margin-top: 20px;
}

#slice_body {
    width: 100%;
}

.rules {
    margin-top: 30px;

    h3 {
        margin-top: 0px;
    }

    .rules-header {
        margin-right: 20px;
    }

}

.slice-form-wrapper.no-form {
    margin-top: 50px;
}

.align-left {
    text-align: left;
}

.top-spacing {
    margin-top: 10px;
}

.large-top-margin {
    margin-top: 40px;
}

.centered-text {
    text-align: center;
}
