.title {

    h1 {
        display: block;
        text-align: center;
    }
}

.user-menu {

    ul li {
        display: inline;
    }
}

.new_slice {
    width: 80%;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

span.slices-left {
    font-size: 3em;
    display: block;
    margin: 0 auto;
    width: 50%;
    margin-bottom: 4px;
}
