<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    </head>

    <body>

        <%= yield %>
        <br />
        <br />
        <p>If you would like to stop getting these emails, you can change this setting in your account: <%= url_for(:host => 'writermortis.com', :controller => "registrations", :action => "edit") %><p>

    </body>
</html>
